.icon-txt {
  font-size: 36px;
  color: #1E90FF;
}

.txt-head {
  font-size: 30px;
  padding-left: 10px;
  color: #A9A9A9;
}


.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  cursor: pointer;

}

.column {
  margin-left: 30px;
  margin-top: 10px;
}
.card{
  height: 240px;
}

.card-title {
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.125rem;
  height: 2.1875rem;
  display: -webkit-box;

  -webkit-line-clamp: 2;

}

.card-img-top {
  height: 120px;
}



.navbar {
  height: 70px;
}

.navbar-brand{
  color: blue;
  font-size: 23px;
}

.sizesearch {
  width: 73%;
}

.btn-search {
  height: 38px;
}
.sticky {
  width: 100%;
  height:70px;
  margin:0;
  left:0;
  right:0;
  top:35px;
  background-color: white;
  overflow: hidden;
  display: block;
  position: sticky;
  position: -webkit-sticky;
  z-index: 5;
}

.shopping {
  margin-left: 30px;

}
.shopping mat-icon {
  width: 50px;
  height: 16px;
  line-height: 16px;

}
.store {
  margin-left: 10px;
}
.groupbt {
  margin-left: 21px;
}

.showProducts-section {
  margin-bottom: 15px;
}
