<app-main-nav>

    <div class="sticky">
        <nav >

        <div class="navbar navbar-expand-lg bg-light">
          <div class="col col-lg-2">
            <a class="navbar-brand " [routerLink]="['/mado/listproduct']">
              <mat-icon>
                local_mall
              </mat-icon>
                MADO
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="sizesearch input-group">
              <input
                #txt_search
                class="form-control"
                type="search" placeholder="ค้นหาสินค้า" aria-label="Search">
              <div class="input-group-append btn-search">
                <button
                  (click)="search_txt1(txt_search)"
                  type="button" class="btn btn-primary">
                  <mat-icon>
                    search
                  </mat-icon>
                </button>
              </div>
            </div>
            <div class="col-sm-3 form-inline groupbt">
              <div class="store ">
                <app-open-store *ngIf="!isOpen"></app-open-store>
                <button [routerLink]="['/user/store']" mat-flat-button color="primary" *ngIf="isOpen">จัดการร้านค้า</button>
              </div>
              <div class="shopping ">
                <a [routerLink]="['/mado/shopping/0']" style="color: black;">
                  <i class="fa fa-cart-plus" style="font-size:36px; cursor: pointer;" ><span *ngIf="show_shop" matBadge="{{amont}}" matBadgeColor="warn" ></span></i>
                </a>
              </div>
            </div>
            </div>
          </div>

        </nav>

        </div>


<div class="container">
  <div class="searchShow-section">
    <i class="fa fa-search icon-txt"></i>
    <span class="txt-head">{{search_txt}}</span>
  </div>
  <hr class="line-head">

  <mat-spinner *ngIf="isImageLoading"></mat-spinner>

  <div *ngIf="!isImageLoading"
    class="showProducts-section">
      <div class="row">
      <ng-container *ngFor="let p of products; let i = index">
          <div class="column">
            <div  class="card" style="width: 12rem;" (click)="seeProduct(p.id_product)">
              <img [src]="imageToShow[i]"
           alt="Place image title"
           *ngIf="!isImageLoading; else noImageFound"
           class="card-img-top">
           <ng-template #noImageFound>
            <img src="./../../../../../assets/image/fallbackImage.png" alt="Fallbackimage">
       </ng-template>

              <div class="card-body">
                <div class="card-title" style="-webkit-box-orient: vertical">{{ p.name_product }}</div>
                <p class="card-text"><strong style="margin-right: 5px;">{{p.variation[0].price | currency:'฿' }}</strong>
                  <span *ngIf="rec_products[i]" class="badge badge-pill badge-warning ">สินค้าแนะนำ</span>
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="(i + 1) % 5 === 0" class="w-100"></div>
        </ng-container>
        </div>
  </div>

  <div *ngIf="notProducts" class="dontHave-products">
      <span class="txt-head">ไม่พบสินค้า</span>
  </div>
</div>

</app-main-nav>
