
<div class="container">
    <div *ngIf="statusforBuy" class="section-sucess">
        <div class="row">
          <button type="button"
          (click)="go_manageAddress()"
          style="width: 35%; height: 50px; margin-bottom: 20px;"
          class="btn btn-warning">
          <i class="fa fa-arrow-circle-left"></i>
            เลือกที่อยู่สำเร็จ
          </button>
        </div>
      </div>
  <div class="card">
    <div class="header">
      <h4 class="headder-adress">ข้อมูลการจัดส่ง</h4>
      <hr class="line" />
    </div>
    <div class="form-data-address">
      <form class="data-address-form"
        [formGroup]="address"
        (ngSubmit)="on_editAddress()"
       >
        <div class="contain-form">
          <div class="form-data-left">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ชื่อผู้รับ:"
                formControlName="receiver"
                value="{{receiver}}" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="หมายเลขโทรศัพท์:"
                formControlName="phone_receiver"
                value="{{phone_receiver}}" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput
                formControlName="address"
                placeholder="ที่อยู่:"
                class="text-address"
                value="{{address1}}"></textarea>
            </mat-form-field>
          </div>
          <div class="form-data-right">

            <mat-form-field class="example-full-width">
              <input matInput placeholder="เเขวง:"
                formControlName="sub_district"
                value="{{sub_district}}" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="เขต:"
                formControlName="district"
                value="{{district}}"/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>โปรดเลือกจังหวัด</mat-label>
              <mat-select formControlName="province">
                <mat-option>เลือกจังหวัด</mat-option>
                <mat-option value="กรุงเทพมหานคร">กรุงเทพมหานคร</mat-option>
                <mat-option value="กระบี่">กระบี่ </mat-option>
                <mat-option value="กาญจนบุรี">กาญจนบุรี </mat-option>
                <mat-option value="กาฬสินธุ์">กาฬสินธุ์ </mat-option>
                <mat-option value="กำแพงเพชร">กำแพงเพชร </mat-option>
                <mat-option value="ขอนแก่น">ขอนแก่น</mat-option>
                <mat-option value="จันทบุรี">จันทบุรี</mat-option>
                <mat-option value="ฉะเชิงเทรา">ฉะเชิงเทรา </mat-option>
                <mat-option value="ชัยนาท">ชัยนาท </mat-option>
                <mat-option value="ชัยภูมิ">ชัยภูมิ </mat-option>
                <mat-option value="ชุมพร">ชุมพร </mat-option>
                <mat-option value="ชลบุรี">ชลบุรี </mat-option>
                <mat-option value="เชียงใหม่">เชียงใหม่ </mat-option>
                <mat-option value="เชียงราย">เชียงราย </mat-option>
                <mat-option value="ตรัง">ตรัง </mat-option>
                <mat-option value="ตราด">ตราด </mat-option>
                <mat-option value="ตาก">ตาก </mat-option>
                <mat-option value="นครนายก">นครนายก </mat-option>
                <mat-option value="นครปฐม">นครปฐม </mat-option>
                <mat-option value="นครพนม">นครพนม </mat-option>
                <mat-option value="นครราชสีมา">นครราชสีมา </mat-option>
                <mat-option value="นครศรีธรรมราช">นครศรีธรรมราช </mat-option>
                <mat-option value="นครสวรรค์">นครสวรรค์ </mat-option>
                <mat-option value="นราธิวาส">นราธิวาส </mat-option>
                <mat-option value="น่าน">น่าน </mat-option>
                <mat-option value="นนทบุรี">นนทบุรี </mat-option>
                <mat-option value="บึงกาฬ">บึงกาฬ</mat-option>
                <mat-option value="บุรีรัมย์">บุรีรัมย์</mat-option>
                <mat-option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์ </mat-option>
                <mat-option value="ปทุมธานี">ปทุมธานี </mat-option>
                <mat-option value="ปราจีนบุรี">ปราจีนบุรี </mat-option>
                <mat-option value="ปัตตานี">ปัตตานี </mat-option>
                <mat-option value="พะเยา">พะเยา </mat-option>
                <mat-option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา </mat-option>
                <mat-option value="พังงา">พังงา </mat-option>
                <mat-option value="พิจิตร">พิจิตร </mat-option>
                <mat-option value="พิษณุโลก">พิษณุโลก </mat-option>
                <mat-option value="เพชรบุรี">เพชรบุรี </mat-option>
                <mat-option value="เพชรบูรณ์">เพชรบูรณ์ </mat-option>
                <mat-option value="แพร่">แพร่ </mat-option>
                <mat-option value="พัทลุง">พัทลุง </mat-option>
                <mat-option value="ภูเก็ต">ภูเก็ต </mat-option>
                <mat-option value="มหาสารคาม">มหาสารคาม </mat-option>
                <mat-option value="มุกดาหาร">มุกดาหาร </mat-option>
                <mat-option value="แม่ฮ่องสอน">แม่ฮ่องสอน </mat-option>
                <mat-option value="ยโสธร">ยโสธร </mat-option>
                <mat-option value="ยะลา">ยะลา </mat-option>
                <mat-option value="ร้อยเอ็ด">ร้อยเอ็ด </mat-option>
                <mat-option value="ระนอง">ระนอง </mat-option>
                <mat-option value="ระยอง">ระยอง </mat-option>
                <mat-option value="ราชบุรี">ราชบุรี</mat-option>
                <mat-option value="ลพบุรี">ลพบุรี </mat-option>
                <mat-option value="ลำปาง">ลำปาง </mat-option>
                <mat-option value="ลำพูน">ลำพูน </mat-option>
                <mat-option value="เลย">เลย </mat-option>
                <mat-option value="ศรีสะเกษ">ศรีสะเกษ</mat-option>
                <mat-option value="สกลนคร">สกลนคร</mat-option>
                <mat-option value="สงขลา">สงขลา </mat-option>
                <mat-option value="สมุทรสาคร">สมุทรสาคร </mat-option>
                <mat-option value="สมุทรปราการ">สมุทรปราการ </mat-option>
                <mat-option value="สมุทรสงคราม">สมุทรสงคราม </mat-option>
                <mat-option value="สระแก้ว">สระแก้ว </mat-option>
                <mat-option value="สระบุรี">สระบุรี </mat-option>
                <mat-option value="สิงห์บุรี">สิงห์บุรี </mat-option>
                <mat-option value="สุโขทัย">สุโขทัย </mat-option>
                <mat-option value="สุพรรณบุรี">สุพรรณบุรี </mat-option>
                <mat-option value="สุราษฎร์ธานี">สุราษฎร์ธานี </mat-option>
                <mat-option value="สุรินทร์">สุรินทร์ </mat-option>
                <mat-option value="สตูล">สตูล </mat-option>
                <mat-option value="หนองคาย">หนองคาย </mat-option>
                <mat-option value="หนองบัวลำภู">หนองบัวลำภู </mat-option>
                <mat-option value="อำนาจเจริญ">อำนาจเจริญ </mat-option>
                <mat-option value="อุดรธานี">อุดรธานี </mat-option>
                <mat-option value="อุตรดิตถ์">อุตรดิตถ์ </mat-option>
                <mat-option value="อุทัยธานี">อุทัยธานี </mat-option>
                <mat-option value="อุบลราชธานี">อุบลราชธานี</mat-option>
                <mat-option value="อ่างทอง">อ่างทอง </mat-option>
                <mat-option value="อื่นๆ">อื่นๆ</mat-option>
              </mat-select>


            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="เลขไปรษณีย์:"
                formControlName="postal_code"
                value="{{postal_code}}" />
            </mat-form-field>

          </div>
        </div>
        <div class="button-submit-save">
          <div class="save-button">
            <button type="submit"
            [disabled]="address.invalid"
              class="btn btn-info  ">บันทึก
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
