.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  cursor: pointer;

}

.column {
  margin-left: 30px;
  margin-top: 10px;
}
.card{
  height: 240px;
}

.card-title {
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.125rem;
  height: 2.1875rem;
  display: -webkit-box;

  -webkit-line-clamp: 2;

}

.card-img-top {
  height: 120px;
}


