

<div class="row">
  <ng-container *ngFor="let p of products; let i = index">
    <div class="column">
      <div  class="card" style="width: 12rem;" (click)="seeProduct(p.id_product)">
        <img [src]="imageToShow[i]"
     alt="Place image title"
     *ngIf="!isImageLoading; else noImageFound"
     class="card-img-top">
     <ng-template #noImageFound>
      <img src="./../../../../../assets/image/fallbackImage.png" alt="Fallbackimage">
 </ng-template>

        <div class="card-body">
          <div class="card-title" style="-webkit-box-orient: vertical">{{ p.name_product }}</div>
          <p class="card-text"><strong>{{price[i] | currency:'฿' }}</strong></p>
        </div>
      </div>
    </div>
    <div *ngIf="(i + 1) % 5 === 0" class="w-100"></div>
  </ng-container>
</div>
