<app-main-nav>
  <app-subnav></app-subnav>
  <div style="text-align:center">
    <div class="card">
      <h1>
        Login
      </h1>
      <div mat-dialog-content>
        <form (ngSubmit)="onLogin()" [formGroup]="userLogin">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username:" formControlName="username" id="username">
              <mat-error *ngIf="userLogin.get('username').hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Password:" formControlName="password" id="password">
              <mat-error *ngIf="userLogin.get('password').hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <br>
          <div class="form-actions">
            <button mat-ripple mat-stroked-button type="submit" id="submit"
              color="primary">Login
            </button>
            <button [routerLink]="['/mado']" mat-raised-button color="accent" style="margin-left: 10px;">Cancel
            </button>

          </div>
          <br>
        </form>
        <button mat-raised-button color="warn" (click)= "apiProduct()" >Test apicore</button>
      </div>
      <br><br>
      <div mat-dialog-actions>
        <a [routerLink]="['/register']">Don't have an accoount? Register here</a>
      </div>
    </div>
  </div>
</app-main-nav>
