<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Results">
  </mat-form-field>
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sername">
                <mat-header-cell *matHeaderCellDef mat-sort-header>sername</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.sername}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
                <mat-cell *matCellDef="let row" class="mycolor2"> {{row.email }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
