<div class="row">
  <div class="col-8">
    <mat-form-field class="search-area">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Results">
    </mat-form-field>
  </div>
  <div class="col">
    <button (click)="on_addCategory()"
      type="button"
      class="btn btn-success btn-addShip">
      เพิ่มประเภท
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>




<table mat-table [dataSource]="dataSource" matSort>

<ng-container matColumnDef="id_catagory" >
  <th mat-header-cell *matHeaderCellDef mat-sort-header>ลำดับ</th>
  <td mat-cell *matCellDef="let row;let i = index"
    class="products" > {{order_num[i]}} </td>
</ng-container>

<ng-container matColumnDef="name_catagory">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อประเภท</th>
  <td mat-cell *matCellDef="let row; let i = index"
    class="name_modify">

    <mat-form-field class="example-full-width">
      <input
        matInput
        #ship_txt
        class="input_nameship"
        [disabled]="stat_name[i]"
        value="{{row.name_catagory}}">
    </mat-form-field>
    <button
    *ngIf="stat_name[i]"

    [disabled]="stat_name[i]"
    mat-icon-button color="primary"
    focusable="false" >
    <i class="fa fa-check" ></i>
  </button>

    <button
    *ngIf="!stat_name[i]"
    (click)="on_confirm(row.id_catagory,i,ship_txt)"
    mat-icon-button color="primary"
    focusable="false">
    <i class="fa fa-check"  style="color: green;"></i>
  </button>
  </td>

</ng-container>


<ng-container matColumnDef="subcategories" >
  <th mat-header-cell *matHeaderCellDef mat-sort-header>ประเภทย่อย</th>
  <td mat-cell *matCellDef="let row;let i = index;"
    class="products" >

<button  (click)="on_seeSubcategory(i)"
mat-icon-button color="primary"
focusable="false" >
<i class="fa fa-search" aria-hidden="true"></i>
</button>

  </td>
</ng-container>

<ng-container matColumnDef="actionsColumn">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <i class="fa fa-cog"></i>
  </th>
  <td mat-cell *matCellDef="let row;let i = index">



    <button  (click)="on_editCategory(i)"
      mat-icon-button color="primary"
      focusable="false" >
        <i class="fa fa-edit mat-icon"></i>
    </button>

    <button  (click)="on_delete(row.id_catagory)"
      mat-icon-button color="accent"
      focusable="false" style="color: red;">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>

    <!-- <button
      *ngIf="!stat_name[i]"
      (click)="on_confirmedit(i, row.id_type, ship_txt)"

      mat-icon-button color="primary"
      focusable="false">
      <i class="fa fa-check"  style="color: green;"></i>
    </button> -->

    <!-- <button
    *ngIf="stat_name[i]"
    (click)="on_confirmedit(i)"
    [disabled]="stat_name[i]"
    mat-icon-button color="primary"
    focusable="false" >
    <i class="fa fa-check" ></i>
  </button> -->


</td>
</ng-container>






<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;">
</tr>
</table>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

