.text-title {
  color:  #696969;
  padding-bottom: 20px;
  margin-left: 40%;
}

.group-button {
  margin-left: 45%;
}

.btn_accept {
  margin-right: 15px;
}

.text-waitaddmin {
  padding-bottom: 20px;
  margin-left: 40%;
  color: #008080;
}
