
<div class="have-orders" *ngIf="not_loading">
<div class="not-loaded" *ngIf="!loading">
  <mat-spinner></mat-spinner>
</div>

<div class="load-complete" *ngIf="loading">
<div class="purchase-list-page__order-list-card-container"
*ngFor="let p of order_item;let i = index">
  <div class="purchase-list-page__order-card-wrapper">
    <div class="order-card__container">
      <div class="order-card__content-wrapper">
        <div class="order-card__content">
          <div class="order-content__container">
            <div class="order-content__header">
              <div class="order-content__header__seller">
                <span class="order-content__header__seller__name">
                  {{p.shop_name}}
                </span>

                <a href="#" class="order-content__header__seller__view-shop-btn-wrapper btn-slide">
                  <div class="order-content__header__seller__view-shop-btn">
                    <button class="shopee-button-outline shopee-button-outline--normal">
                      <svg class="shopee-svg-icon icon-btn-shop" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                        <path d="m15 4.8c-.1-1-.8-2-1.6-2.9-.4-.3-.7-.5-1-.8-.1-.1-.7-.5-.7-.5h-8.5s-1.4 1.4-1.6 1.6c-.4.4-.8 1-1.1 1.4-.1.4-.4.8-.4 1.1-.3 1.4 0 2.3.6 3.3l.3.3v3.5c0 1.5 1.1 2.6 2.6 2.6h8c1.5 0 2.5-1.1 2.5-2.6v-3.7c.1-.1.1-.3.3-.3.4-.8.7-1.7.6-3zm-3 7c0 .4-.1.5-.4.5h-8c-.3 0-.5-.1-.5-.5v-3.1c.3 0 .5-.1.8-.4.1 0 .3-.1.3-.1.4.4 1 .7 1.5.7.7 0 1.2-.1 1.6-.5.5.3 1.1.4 1.6.4.7 0 1.2-.3 1.8-.7.1.1.3.3.5.4.3.1.5.3.8.3zm.5-5.2c0 .1-.4.7-.3.5l-.1.1c-.1 0-.3 0-.4-.1s-.3-.3-.5-.5l-.5-1.1-.5 1.1c-.4.4-.8.7-1.4.7-.5 0-.7 0-1-.5l-.6-1.1-.5 1.1c-.3.5-.6.6-1.1.6-.3 0-.6-.2-.9-.8l-.5-1-.7 1c-.1.3-.3.4-.4.6-.1 0-.3.1-.3.1s-.4-.4-.4-.5c-.4-.5-.5-.9-.4-1.5 0-.1.1-.4.3-.5.3-.5.4-.8.8-1.2.7-.8.8-1 1-1h7s .3.1.8.7c.5.5 1.1 1.2 1.1 1.8-.1.7-.2 1.2-.5 1.5z">

                        </path></svg>
                        ดูร้านค้า
                    </button>
                  </div>
                </a>
              </div>
            </div>

            <div class="order-content__item-list">
              <a (click)="go_dtail_payhistory(i)" class="order-content__item-wrapper">
                <div class="order-content__item order-content__item--last">
                  <div class="order-content__item__col order-content__item__detail">
                    <div class="order-content__item__product">
                      <div class="order-content__item__image">
                        <div class="shopee-image__wrapper">
                          <div class="shopee-image__place-holder">
                            <img class="checkout-product-ordered-list-item__product-image"
                            [src]="imageToShow[i]" width="70" height="70">
                          </div>
                          <div class="shopee-image__content" >

                          </div>
                        </div>

                      </div>

                      <div class="order-content__item__detail-content">
                        <div class="order-content__item__name">{{p.name_product}}</div>
                        <div class="order-content__item__variation">ตัวเลือกสินค้า: {{p.name_variation}}</div>
                        <div class="order-content__item__quantity">x {{p.quantity}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="order-content__item__price order-content__item__col order-content__item__col--small order-content__item__col--last">
                  <div class="order-content__item__price-text">
                    <div>฿{{p.price}}</div>
                  </div>

                </div>

                </div>



              </a>
            </div>

          </div>
        </div>
        <div class="shopee-border-bottom-dotted-circle__container">
          <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--left">
          </div>
          <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--right">
          </div>
        </div>
      </div>

      <div class="order-card__buttons-container">
        <div class="purchase-card-buttons__wrapper">
          <div class="purchase-card-buttons__total-payment">
            <span class="purchase-card-buttons__label-price">
              ยอดคำสั่งซื้อทั้งหมด
            </span>
            <span class="purchase-card-buttons__total-price">
              ฿{{price_all[i]}}
            </span>
          </div>

          <div class="purchase-card-buttons__container" >
            <div class="purchase-card-buttons__text-info">
              <span class="purchase-text-info">
                <span>สินค้ากำลังจัดส่ง</span>
                <span class="track-number">{{tracking_num[i]}}</span>
              </span>
            </div>



              <div class="purchase-card-buttons__show-button-wrapper">
                <!-- <button
                  class="shopee-button-outline shopee-button-outline--fill shopee-button-outline--primary ">
                  <span class="purchase-card-buttons__button-content">
                    ยกเลิกการสั่งซื้อ
                  </span>
                </button> -->
              </div>
            </div>



        </div>
      </div>

    </div>
  </div>

</div>
</div>


</div>

<div class="not-orderbybuyer" *ngIf="!not_loading">
  <h3>ไม่มีคำสั่งซื้อสินค้า</h3>
</div>
