<div class="sticky">
<nav class="navbar navbar-expand-lg bg-light">
  <div class="col col-lg-2">
    <a class="navbar-brand " [routerLink]="['/mado']">
      <mat-icon>
        local_mall
      </mat-icon>
        MADO
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="sizesearch input-group">
      <input class="form-control"  type="search" placeholder="ค้นหาสินค้า" aria-label="Search">
      <div class="input-group-append btn-search">
        <button type="button" class="btn btn-primary">
          <mat-icon>
            search
          </mat-icon>
        </button>
      </div>
    </div>
    <div class="col-sm-3 form-inline groupbt">
      <div class="store ">
        <app-open-store></app-open-store>
      </div>
      <div class="shopping ">
          <i class="fa fa-cart-plus" style="font-size:36px;"></i>
      </div>
    </div>
    </div>
</nav>
</div>
