.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  margin:0;
  left:0;
  right:0;
  width: 100%;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 36px;
  z-index: 5;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
/* @media (min-width: 760px){
  .sidenav{
    display: none;
  }
} */

a {
  font-size: 14px;
}


.bt-profile ,mat-icon-button  {
  margin-left: 85%;
}

.btAddmin {
  background-color: DodgerBlue;
  color: white;
  border-radius: 5px;
}
.btAddmin:hover {
  color: black;
}

