<div class="pages-wrap">
<app-pages-top></app-pages-top>
  <div class="pages-body">
    <app-sidebar></app-sidebar>

    <div class="pages-content">
      <div class="card">
        <header class="row title">
          <div class="col-xs-12 text-center">
            <h5 class="main-title" style="color: #9012fe;padding-left: 20px;">ข้อมูลของฉัน</h5>
            <hr class="line">
          </div>
        </header>
        <div class="my-account-profile">
          <div class="my-account-profile__left">
            Name: Sila
            <br>
            Surname: Sangjansiriporn
            <br>
            Phone:
            <br>
            Email:
            <br>
            DOB:
          </div>
          <div class="my-account-profile__right">
            <div class="card-profile">
              <img src="../../../../assets/image/garfield.jpg" height="270" style="width:100%">
              <h4>Sila Sangjansiriporn</h4>
            </div>
            <button mat-raised-button style="margin-left: 30%;">เลือกรูปภาพ</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
