<mat-spinner *ngIf="!progress"></mat-spinner>


<div *ngIf="progress" >
<div   class="card-productDetail">
  <div class="Image-product">
    <div class="allImage">
      <div class="mainImage">
        <img
          [src]=" imageBigshow"
          alt="Place image title"
          class="card-img-top imageMain"
        />

      </div>

      <!--  [ส่วนของการ show รูปเยอะๆ]  -->



      <div class="showSelectImage">
        <ng-container *ngFor="let p of imageToShow; let i = index">
        <div class="_2MDwq_">
          <div class="ZPN9uD">

            <div class="animated-lazy-image">
              <div class="imageShowAll">

                  <img *ngIf="i < 5" [src]="p"

                  alt="Place image title"
                  class="card-img-top img-shows"
                  style="cursor: pointer;"
                  id="myText"
                  (click)="changeMainImage(i)"
                  >

              </div>
            </div>

            <div *ngIf="i==isSelected" class="Wrsd9N"></div>

          </div>
        </div>
          </ng-container>
      </div>


    </div>
  </div>
  <div class="edge-detail-product">
    <div class="dtail-product">
      <div class="titleProduct">{{ nameProduct }}</div>
      <div class="descripProduct">{{ descript }}</div>

      <div *ngIf="!switch_price" style="margin-top: 15px">
        <div class="flex flex-Price">
          <div class="flex flex-Price bg">
            <div class="flex item-center">
              <div class="flex items-center _2n_9_X" >
                <div class="flex items-center">
                  <div class="priceProduct">
                    {{ price | currency: '฿' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="switch_price" style="margin-top: 15px">
          <div class="flex flex-Price">
            <div class="flex flex-Price bg">
              <div class="flex item-center">
                <div class="flex items-center _2n_9_X" >

                  <div  class="flex items-center">
                    <div class="oldPrice">
                      {{ price | currency: '฿' }}
                    </div>
                  </div>

                  <div
                  class="flex items-center" style="margin-left: 7px;">
                    <div class="priceProduct">
                      {{ new_price | currency: '฿' }}
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </div>

      <!--คำนวณ ปริมาณ  -->



      <div class="variation">
          <label class="title-variation" >Variation</label>

          <div class="choice" >
            <mat-form-field >
              <mat-select placeholder="โปรดเลือกชนิดสินค้า"  [(ngModel)]="selectedValue" >
                  <mat-option *ngFor="let vT of variations; let i = index" [value]="i" (click)="changeVariation()" >
                    {{vT.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

      </div>
      <div class="quantity">
        <div class="amount">
          จำนวน
        </div>
        <div class="group-amount">
          <div style="margin-right: 15px">
            <div class="shopee-input-quantity">
              <button [disabled]="donot_buy"
              class="shopee-button-outline" [disabled]="!canReduce"  (click)="reduceAmount()">
                <svg class="shopee-svg-icon" enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0">
                  <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon>
                </svg>
              </button>
              <input class="input-amount" type="text" value={{amount}} [disabled]="noKey">
              <button [disabled]="donot_buy"
              class="shopee-button-outline" (click)="addAmount()">
                <svg class="shopee-svg-icon plus-icon" enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0">
                  <polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon>
                </svg>
              </button>
            </div>
          </div>

        <div>มีทั้งหมด {{ amountAll }}  ชิ้น</div>

        </div>
      </div>


      <!--==== [END] ====-->
      <div class="groupAction">
        <div class="group-btn">
          <div class="flex-btn">
              <button
                [disabled]="donot_buy"
               mat-stroked-button color="primary" class="btn-add" (click)="addProduct()">
                <i class="fa fa-cart-plus" style="font-size:30px; cursor: pointer;" ></i>
                เพิ่มไปยังรถเข็น
              </button>
              <button
              [disabled]="donot_buy"
              mat-flat-button color="primary"
                class="btn-buy"
                style="margin-left: 20px;"
                (click)="onBuy_product()">ซื้อเลย</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="detail-card">
    <div class="title-detail">
      รายละเอียด
      <span class="dtail-store">
          <button (click)="see_shop()"
          mat-stroked-button>
              <svg class="shopee-svg-icon _1fzrWY " enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" stroke-width="0"><path d="m13 1.9c-.2-.5-.8-1-1.4-1h-8.4c-.6.1-1.2.5-1.4 1l-1.4 4.3c0 .8.3 1.6.9 2.1v4.8c0 .6.5 1 1.1 1h10.2c.6 0 1.1-.5 1.1-1v-4.6c.6-.4.9-1.2.9-2.3zm-11.4 3.4 1-3c .1-.2.4-.4.6-.4h8.3c.3 0 .5.2.6.4l1 3zm .6 3.5h.4c.7 0 1.4-.3 1.8-.8.4.5.9.8 1.5.8.7 0 1.3-.5 1.5-.8.2.3.8.8 1.5.8.6 0 1.1-.3 1.5-.8.4.5 1.1.8 1.7.8h.4v3.9c0 .1 0 .2-.1.3s-.2.1-.3.1h-9.5c-.1 0-.2 0-.3-.1s-.1-.2-.1-.3zm8.8-1.7h-1v .1s0 .3-.2.6c-.2.1-.5.2-.9.2-.3 0-.6-.1-.8-.3-.2-.3-.2-.6-.2-.6v-.1h-1v .1s0 .3-.2.5c-.2.3-.5.4-.8.4-1 0-1-.8-1-.8h-1c0 .8-.7.8-1.3.8s-1.1-1-1.2-1.7h12.1c0 .2-.1.9-.5 1.4-.2.2-.5.3-.8.3-1.2 0-1.2-.8-1.2-.9z">
              </path>
            </svg>
            ดูร้านค้า
          </button>
      </span>
      <hr class="line">
    </div>
    <div class="content-card">
      {{description}}
    </div>
  </div>
</div>


<div class="section-comments">
    <app-comments-product></app-comments-product>
  </div>

</div>
