.card-productDetail{
  display: flex;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.edge-detail-product {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  width: 0;
}

.Image-product {
  display: block;
  width: 35%;
}

.dtail-product {
  padding: 2rem 3.5rem 0 2rem;
}

.Image-product {
  width: 450px;
  padding: 15px;
  flex-shrink: 0;
}

.titleProduct {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
  vertical-align: sub;
  max-height: 4.8rem;
  line-height: 2.4rem;
  overflow: hidden;
  max-width: 66.5rem;
  font-size: 2rem;
  word-wrap: break-word;
}

.flex-Price {
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.flex {
  display: flex;
}

.bg {
  padding: 15px 20px;
  background: #fafafa;
}

.item-center {
  -moz-box-align: center;
  align-items: center;
}

._2n_9_X {
  flex-wrap: wrap;
  width: 625px;
  flex-basis: 625px;
}

.priceProduct {
  font-size: 2rem;
  font-weight: 500;
  color: cornflowerblue;
}

.groupAction {
  margin-top: 50px;
  margin-bottom: 30px;
}

.group-btn {
  padding-left: 20px;
}
.flex-btn {
  display: flex;
}

.quantity {
  margin-top: 30px;
  color: #757575;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.amount {
  color: #757575;
  width: 110px;
  text-transform: capitalize;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
}

.group-amount {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.shopee-input-quantity {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
}

.shopee-input-quantity .shopee-button-outline {
  width: 2rem;
  height: 2rem;
  outline: none;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: background-color .1s cubic-bezier(.4,0,.6,1);
  border: 1px solid rgb(0, 0, 0, 0.09);
  border-radius: 2px;
  background: transparent;
  color: rgb(0, 0, 0, 0.8);
}

.shopee-input-quantity>.shopee-button-outline:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
  font-size: .625rem;
}

.input-amount {
  width: 3.125rem;
  height: 2rem;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  outline: none;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: background-color .1s cubic-bezier(.4,0,.6,1);
  border:1px solid rgba(0,0,0,.09);
  background: transparent;
  color: rgba(0,0,0,.8);
}

.variation {
  display: flex;
  -webkit-box-align: center;
  align-items: baseline;
  margin-top: 25px;
}

.title-variation {
  color: #757575;
  width: 110px;
  text-transform: capitalize;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
}

.btn-add {
  min-width: 11.25rem;
  padding: 0.46rem;
}

.btn-buy {
  min-width: 11.25rem;
}

.showSelectImage {
  margin: 5px -5px;
  position: relative;

}

._2MDwq_ {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  width: 20%;
}

.ZPN9uD {
  position: relative;
}

.animated-lazy-image {
  position: relative;
}
.imageShowAll {
 background-size: contain;
 background-repeat: no-repeat;
 width: 100%;
 padding-top: 10%;
 opacity: 1;
 transition: opacity 1s ease;

}

.imageMain{
  height: 400px;
}

.imageShowAll:hover {

  border: 2px solid dodgerblue;

}

.Wrsd9N {
  right: 0;
  bottom: 0;
  border: 2px solid dodgerblue;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.detail-card {
  padding: 1.5625rem;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  border-radius: .125rem;
  overflow: hidden;
  background: #fff;
  margin-top: 1.25rem;
  bottom: 5rem;
}

.detail-card .title-detail .line {
 border-color: #e1e1e1;
 margin-bottom: 0;
 margin-top: 10px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);

}

.content-card {
  margin-top: 1.25rem;
}


.dtail-store {
  margin-left: 10px;
}

.section-comments{
  margin-bottom: 10px;
}
