<div class="row">
  <div class="col-2">
    <div class="head-bestseller">
      <h5 class="txt-head">สินค้าขายดี
          <i class="fa fa-calendar" style="margin-left: 5px;" aria-hidden="true"></i>
      </h5>

    </div>
  </div>
  <div class="col-10">
    <div class="body-productseller">
        <button (click)="best_day()"
        type="button"
        class="btn btn-outline-primary bt-bestseller">
          ประจำวัน
        </button>
        <button (click)="best_week()"
        type="button"
        class="btn btn-outline-info bt-bestseller">
          ประจำสัปดาห์
        </button>
        <button (click)="best_month()"
        type="button"
        class="btn btn-outline-success bt-bestseller">
          ประจำเดือน
        </button>
    </div>
  </div>
</div>
