<div class="new_item" style="margin-top: 20px;">
  <h2 class="title text-center">
      สินค้าโปรโมชั่น
  </h2>

  <div class="row">
    <ng-container *ngFor="let p of products; let i = index">
      <div class="column">
        <div  class="card" style="width: 12rem;" (click)="seeProduct(p.id_product)">
          <img [src]="imageToShow[i]"
       alt="Place image title"
       class="card-img-top"
       *ngIf="!isImageLoading; else noImageFound">
  <ng-template #noImageFound>
       <img src="./../../assets/image/fallbackImage.png" alt="Fallbackimage">
  </ng-template>

          <div class="card-body">
            <div class="card-title">{{ p.name_product }}</div>
            <p class="card-text">ราคา </p>
          </div>
        </div>
      </div>
      <div *ngIf="(i + 1) % 5 === 0" class="w-100"></div>
    </ng-container>
  </div>

</div>
