

<div class="have-orders" *ngIf="not_loading">
<div class="not-loaded" *ngIf="!loading">
  <mat-spinner></mat-spinner>
</div>

<div class="load-complete" *ngIf="loading">
<div class="purchase-list-page__order-list-card-container"
  *ngFor="let p of order_shows;let i = index">
    <div class="purchase-list-page__order-card-wrapper">
      <div class="order-card__container">
        <div class="order-card__content-wrapper">
          <div class="order-card__content">
            <div class="order-content__container">
              <div class="order-content__header">
                <div class="order-content__header__seller">
                  <span class="order-content__header__seller__name">
                    รายการที่สั่งซื้อ
                  </span>

                  <a href="#" class="order-content__header__seller__view-shop-btn-wrapper btn-slide">
                    <div class="order-content__header__seller__view-shop-btn">

                    </div>
                  </a>
                </div>

                <div class="order-content__header__order-sn">
                  หมายเลขคำสั่งซื้อ. <span  class="order_num"> {{p.order_item[0].id_order}} </span>
                </div>
              </div>

              <div class="order-content__item-list" *ngFor="let item of p.order_item;let j = index">
                <a (click)="go_dtail_payhistory(item.id_order, item.id_item)" class="order-content__item-wrapper">
                  <div class="order-content__item order-content__item--last">
                    <div class="order-content__item__col order-content__item__detail">
                      <div class="order-content__item__product">
                        <div class="order-content__item__image">
                          <div class="shopee-image__wrapper">
                            <div class="shopee-image__place-holder">
                              <img class="checkout-product-ordered-list-item__product-image"
                              [src]="imageToShow[amount_ind[i] + j]" width="70" height="70">
                            </div>
                            <div class="shopee-image__content" >

                            </div>
                          </div>

                        </div>

                        <div class="order-content__item__detail-content">
                          <div class="order-content__item__name">{{item.name_product}}</div>
                          <div class="order-content__item__variation">ตัวเลือกสินค้า: {{item.name_variation}}</div>
                          <div class="order-content__item__quantity">x {{item.quantity}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="order-content__item__price order-content__item__col order-content__item__col--small order-content__item__col--last">
                    <div class="order-content__item__price-text">
                      <div>฿{{item.price}}</div>
                    </div>

                  </div>

                  </div>



                </a>
              </div>

            </div>
          </div>
          <div class="shopee-border-bottom-dotted-circle__container">
            <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--left">
            </div>
            <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--right">
            </div>
          </div>
        </div>

        <div class="order-card__buttons-container">
          <div class="purchase-card-buttons__wrapper">
            <div class="purchase-card-buttons__total-payment">
              <span class="purchase-card-buttons__label-price">
                ยอดคำสั่งซื้อทั้งหมด
              </span>
              <span class="purchase-card-buttons__total-price">
                ฿{{p.price_total}}
              </span>
            </div>

            <div class="purchase-card-buttons__container">
              <div class="purchase-card-buttons__text-info">
                <span class="purchase-text-info">
                  <span>ค้างชำระเงิน</span>
                </span>
              </div>

              <div class="purchase-card-buttons__show-button-wrapper">
                <button class="shopee-button-solid shopee-button-solid--fill shopee-button-solid--primary"
                  (click)="on_goBuyProduct(i)">
                  <span class="purchase-card-buttons__button-content">
                    ชำระค่าสินค้า
                  </span>
                </button>
              </div>

              <div class="purchase-card-buttons__show-button-wrapper">
                <button (click)="on_cancelProduct(i)"
                  class="shopee-button-outline shopee-button-outline--fill shopee-button-outline--primary ">
                  <span class="purchase-card-buttons__button-content">
                    ยกเลิกการสั่งซื้อ
                  </span>
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  </div>
</div>



<div class="not-orderbybuyer" *ngIf="!not_loading">
  <h3>ไม่มีคำสั่งซื้อสินค้า</h3>
</div>


