
<div class="have-products" *ngIf="stat_item">
<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>


<div class="data-shows" *ngIf="!loading">
<table class="table">
  <thead>
    <tr>
      <th>สินค้าทั้งหมด</th>
      <th>ผู้รับ</th>
      <th>จำนวน</th>
      <th>ช่องทางการส่ง</th>
      <th>ราคาทั้งหมด</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let p of order_item | paginate: { itemsPerPage: 10, currentPage: p1 };let i = index">
    <tr >
      <td>{{name_products[i]}}</td>
      <td>{{reciever[i]}}</td>
      <td>{{quantity[i]}}</td>
      <td>{{product_delivery[i]}}</td>
      <td>{{price_all[i]}}</td>
      <td>
        <button
          (click)="go_detail(i)"
          type="button" class="btn btn-info">
          จัดการการสั่งซื้อ
        </button>
      </td>
    </tr>
</ng-container>
  </tbody>
</table>

<pagination-controls (pageChange)="p1 = $event"></pagination-controls>

</div>
</div>


<div class="notHave-item" *ngIf="!stat_item">
  <h3>ไม่มีคำสั่งซื้อสินค้า</h3>
</div>


