.line-reject {
  width: 60%;
}

.header-text {
  margin-left: 33%;
}


.example-full-width {
  width: 80%;
  margin-left: 10%;
}

.text-add-reject {
  height: 200px;

}

.bton-action {
  margin-left: 15px;
}


.button-group {
  margin-left: 65%;
  margin-top: 10px;
}
