.title-dialog {

  padding-left: 40%;
}

.name {
  width: 100%;
}

.address {
  width: 100%;
}

.area {
  height: 60px;
}

.action-group {
  margin-left: 54%;
}

.input-group {
  height: 75%;
}

.selectBank {
  width: 50%;
}
