.header-dtail{
  color: #A9A9A9;
  margin-left: 40%;
}

.example-full-width{
  width: 100%;
}

.product-Dtail{
  height: 100px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  align-content: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.create-row {
  margin-bottom: 1px;
}

.create-label {
  -webkit-box-pack: end;
  justify-content: flex-end;
  font-weight: 400;
  padding-right: 30px;
  position: relative;

  color: #888;

}

.head-category{
  color: #888;
}

.create-input {
  line-height: 24px;
  min-height: 40px;
  color: #666;
}
.col-8 {
  flex-basis: 64%;
  width: 100%;
  max-width: 100%;
}

.product-form-item {
  position: relative;
  margin-bottom: 0;
}

.mado-catagory {
  position: relative;
  outline: none;
}

.mado-catagory-header {
  position: relative;
  padding: 8px;
  height: 40px;
  background: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 2px;

  transition: background .25s ease;
  outline: none;
  cursor: pointer;
}

.mado-category_header_label {
  color: black;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle-icon {
  position: absolute;
  top: 70%;
  right: 12px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
}

.mado-icon {
  display: inline-block;
  line-height: 0;
  fill: currentColor;
}

.subtitle {
  position: relative;
  padding-left: 35%;
}

.mado-category__main {
  position: absolute;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: auto;
  background: #fff;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, .09);
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  z-index: 99;
}

.mado-category__main__title {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #888;
  background-color: #fafafa;
  border-radius: 3px;
}

.mado-category__content {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.mado-category_content_column {
  transition: width .25s ease;
  vertical-align: top;
  white-space: normal;
  border-right: 1px solid #f2f2f2;
  cursor: pointer;
  width: 100%;
}

.mado-category_content_item  {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
  margin-right: 8px;
  padding: 0 8px;
  width: 100%;
  background: #fff;
  line-height: 32px;
  transition: background .25s ease;
  margin-bottom: 8px;
}

.mado_category_item--main {
  padding-left: 24px;
}

.mado-category_content_item {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
  margin-right: 8px;
  padding: 0 8px;
  width: 100%;
  background: #fff;
  line-height: 32px;
  transition: background .25s ease;
}

.mado_category_item--main {
  padding-left: 24px;
}
.menu {
  padding-left: 8px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}



.btn-group{
  width: 100%;
  margin-bottom: 5px;
}

.button {
  margin-left: 90%;
}
