<div class="create-ship-section">
  <div class="create-title">
    <h3 class="text-title" *ngIf="!complete_stat">เพิ่ม code เพื่อติดตามสินค้า</h3>
    <h3 class="text-title" *ngIf="complete_stat">รายละเอียด code ติดตามสินค้า</h3>
  </div>
  <div class="body-create-shipping" >
    <mat-form-field class="example-full-width">
    <input [disabled]="complete_stat"
    matInput
      placeholder="code:"
      #input_track
      value="{{track_number}}">
  </mat-form-field>
  <div class="group-btn">
      <button [disabled]="complete_stat"
      (click)="add_tracknum(input_track)"
        type="button" class="btn btn-success">
        เพิ่ม code
      </button>
      <button mat-mini-fab
      [disabled]="!track_enable"
      (click)="on_trackData()"
      color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon">place</mat-icon>
      </button>
  </div>
  </div>

</div>

