<div class="container">
    <div class="page-header">

        <h3 id="timeline">
          Tracking Product
        </h3>
        <button (click)="on_gopayhistory()"
          type="button" class="btn btn-outline-info btn-exit">
            <i class="fa fa-sign-out"></i>
          </button>
    </div>
    <ul class="timeline">
        <li *ngIf="0 < track_level">
          <div class="timeline-badge"><i class="fa fa-check-square-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{track_dtail[0].message}}</h4>
              <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{track_dtail[0].checkpoint_time}}</small></p>
            </div>
            <div class="timeline-body">

              <p>{{track_dtail[0].subtag_message}}</p>
              <p><i class="fa fa-map-marker"></i>{{track_dtail[0].location}}</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted" *ngIf="1 < track_level">
          <div class="timeline-badge warning"><i class="fa fa-clock-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{track_dtail[1].message}}</h4>
              <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{track_dtail[1].checkpoint_time}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{track_dtail[1].subtag_message}}</p>
              <p><i class="fa fa-map-marker"></i>{{track_dtail[1].location}}</p>
            </div>
          </div>
        </li>
        <li *ngIf="2 < track_level">
          <div class="timeline-badge danger"><i class="fa fa-clock-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{track_dtail[2].message}}</h4>
              <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{track_dtail[2].checkpoint_time}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{track_dtail[2].subtag_message}}.</p>
              <p><i class="fa fa-map-marker"></i>{{track_dtail[2].location}}</p>
            </div>
          </div>
        </li>

        <li *ngIf="3 < track_level">
          <div class="timeline-badge info"><i class="fa fa-clock-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{track_dtail[3].message}}</h4>
              <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{track_dtail[3].checkpoint_time}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{track_dtail[3].subtag_message}}.</p>
              <p><i class="fa fa-map-marker"></i>{{track_dtail[3].location}}</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted" *ngIf="4 < track_level">
          <div class="timeline-badge success"><i class="fa fa-thumbs-o-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{track_dtail[4].message}}</h4>
              <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{track_dtail[4].checkpoint_time}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{track_dtail[4].subtag_message}}.</p>
              <p><i class="fa fa-map-marker"></i>{{track_dtail[4].location}}</p>
            </div>
          </div>
        </li>
    </ul>
</div>
