<div class="section-address">



<div class="text-header">
    <h5>ที่อยู่ผู้สั่งสินค้า</h5>
  </div>

<div class="address-card">

  <div></div>
  <div class="address-display__left">
    <div class="address-display__field-container address-display__field-container--name">
      <div class="address-display__field-label">
        ชื่อ
      </div>
      <div class="address-display__field-content">
        <span class="address-display__name-text">
          {{receiver}}
        </span>

      </div>
    </div>
    <div class="address-display__field-container">
      <div class="address-display__field-label">
        โทรศัพท์
      </div>
      <div class="address-display__field-content">
        {{phone_receiver}}
      </div>
    </div>
    <div class="address-display__field-container">
      <div class="address-display__field-label">
        ที่อยู่
      </div>
      <div class="address-display__field-content">
        <span>{{address}}
          <br>{{sub_district}}
          <br>{{province}}
          <br>{{postal_code}}
        </span>
      </div>
    </div>
  </div>



</div>

</div>

