<!--
<div class="top-box">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Results">
  </mat-form-field>
</div>
-->

<h6>รายการกฎเกณฑ์ทางธุรกิจ</h6>

<mat-table [dataSource]="dataSource" matSort>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <ng-container matColumnDef="sequence">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ลำดับ</mat-header-cell>
    <mat-cell class="center" *matCellDef="let row">{{row.id_business}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อ</mat-header-cell>
    <mat-cell class="center" *matCellDef="let row">{{row.model.model}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="detail">
    <mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</mat-header-cell>
    <mat-cell class="center" *matCellDef="let row">{{row.model.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ใช้อยู่</mat-header-cell>
    <mat-cell class="mycolor2 center" *matCellDef="let row; let i=index;" >
      <!--
      <mat-checkbox *ngIf="checkStatus(row.status)" checked="true"></mat-checkbox>
      <mat-checkbox *ngIf="!checkStatus(row.status)" check="false"></mat-checkbox>
      -->
      <mat-radio-group name="usingModel" aria-label="Select an option" (change)="onChange(row.id_business, row.model.model)">
        <mat-radio-button *ngIf="checkStatus(row.status)" checked="true" value="1"></mat-radio-button>
        <mat-radio-button *ngIf="!checkStatus(row.status)" value="1"></mat-radio-button>
      </mat-radio-group>
    </mat-cell>
  </ng-container>

  <!--
  <ng-container matColumnDef="status" >
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let row"  >
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-radio-button class="example-radio-button" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>

      <h6 style="color: green; font-weight: bold;" *ngIf="checkStatus(row.status)">{{row.status}} </h6>
      <h6 style="color: red; font-weight: bold;" *ngIf="!checkStatus(row.status)">{{row.status}} </h6>
    </mat-cell>
  </ng-container>
  -->

</mat-table>

<!--
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]">
</mat-paginator>
-->




